Python Lists - DSA theory

Characteristics:
* Indexed -
* Mutable - once created element can be added, removed or changed.
* Allows duplication - you can modify, add, or move the elements.
* Hetrogenous - can store element of different size.
* Dynamic Size - can be shrink or grow during execution.

Common Operation in list -
1. append()
2. extend()-
3. insert()
4. revert()
5. pop()
6. clear()
7. index()
8. count()
9. reverse()
10. sort()
11. copy()
12. len()
13. sum()
14. max()

In [ ]:
#creating a list
car = ["Mini Cooper", "Endeavour","Harrier","Safari"]
print("The stock present in showroom are:", car)

The stock present in showroom are: ['Mini Cooper', 'Endeavour', 'Harrier', 'Safari']

In [ ]:
#Append
cars = ["Mini Cooper", "Endeavour","Harrier","Safari"]
cars.append("Defender")
cars.sort()
print("The stock present in showroom are:", cars)

The stock present in showroom are: ['Defender', 'Endeavour', 'Harrier', 'Mini Cooper', 'Safari']

In [ ]:
#extend
vehicle = ["Mini Cooper", "Endeavour","Harrier","Safari"]
bikes = ["Triumph","GT60","Pulsar","Apache"]
vehicle.extend(bikes)
vehicle.sort()
print("The stock present in showroom are:", vehicle)

The stock present in showroom are: ['Apache', 'Endeavour', 'GT60', 'Harrier', 'Mini Cooper', 'Pulsar', 'Safari', 'Triumph']

In [ ]:
#insert
vehicle = ["Mini Cooper", "Endeavour","Harrier","Safari"]
bikes = ["Triumph","GT60","Pulsar","Apache"]
vehicle.insert(2,"GT60")
vehicle.insert(3,"Pulsar")
print("The stock present in showroom are:", vehicle)

The stock present in showroom are: ['Mini Cooper', 'Endeavour', 'GT60', 'Pulsar', 'Harrier', 'Safari']

In [ ]:
#remove - remove the occurences of the variable
vehicle = ["Mini Cooper", "Endeavour","Harrier","Safari"]
vehicle.remove("Harrier")
print("The stock present in showroom are:", vehicle)

The stock present in showroom are: ['Mini Cooper', 'Endeavour', 'Safari']

In [ ]:
#pop - remove the varibale from th index
vehicle = ["Mini Cooper", "Endeavour","Harrier","Safari"]
sale_vehicle = vehicle.pop(2)
print("the current sold vehicle:",sale_vehicle)
print("The stock present in showroom are:", vehicle)

the current saled vehicle: Harrier
The stock present in showroom are: ['Mini Cooper', 'Endeavour', 'Safari']

In [ ]:
#clear - removes all element from the list
vehicle = ["Mini Cooper", "Endeavour","Harrier","Safari"]
vehicle.clear()
print("The stock present in showroom are:", vehicle)

The stock present in showroom are: []

In [ ]:
#index
vehicle = ["Mini Cooper", "Endeavour","Harrier","Safari"]
sale = vehicle.index("Harrier")
print("the index value of Vehicle Harrier is:",sale)

the index value of Vehicle Harrier is: 2

In [ ]:
#count
vehicle = ["Mini Cooper", "Endeavour","Harrier","Safari","Harrier","Harrier"]
sale = vehicle.count("Harrier")
print("the index value of Vehicle Harrier is:",sale)

the index value of Vehicle Harrier is: 3

In [ ]:
#reverse
vehicle = ["Mini Cooper", "Endeavour","Harrier","Safari"]
vehicle_sold = vehicle[0:3]
count_sold = vehicle_sold[::-1]
vehicle = count_sold
print(vehicle)
print("The stock present in showroom are:", vehicle)

['Harrier', 'Endeavour', 'Mini Cooper']
The stock present in showroom are: ['Harrier', 'Endeavour', 'Mini Cooper']

In [ ]:
#copy
vehicle = ["Mini Cooper", "Endeavour","Harrier","Safari"]
vehicle_sold = vehicle[0:3]
count_sold = vehicle_sold.copy()
print(count_sold)

['Mindsor']

In [ ]:
#len
vehicle = ["Mini Cooper", "Endeavour","Harrier","Safari"]
print(len(vehicle))

4

In [ ]:
#sum
vehicle_qty = [10,20,30,40,50]
print("The total count of each vehicle stored is:",sum(vehicle_qty))

The total count of each vehicle stored is: 150

In [ ]:
#print middle element from the list
vehicle = ["Mini Cooper", "Endeavour","Mindsor","Harrier","Safari"]
vehicle_sold = vehicle[2:3]
print(vehicle_sold)

['Mindsor']

In [ ]:
#min
vehicle_qty = [10,20,30,40,50]
print("The total count of each vehicle stored is:",min(vehicle_qty))

The total count of each vehicle stored is: 10

In [ ]:
#max
vehicle_qty = [10,20,30,40,50]
print("The total count of each vehicle stored is:",max(vehicle_qty))

The total count of each vehicle stored is: 50

In [ ]:
#flatten a tuple of tuples
numbers = ((1,2,3),(4,5,6),(7,8,9))
print(numbers)
print(sum(numbers,()))

((1, 2, 3), (4, 5, 6), (7, 8, 9))
(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
#flatten a tuple of tuples
numbers = ((1,2,3),(4,5,6),(7,8,9))
output = []
for t in numbers:
  for n in t:
    output.append(n)
output = tuple(output)
print(output)

(1, 2, 3, 4, 5, 6, 7, 8, 9)